<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      href="{% if current_user.is_authenticated and current_user.role == 'admin' %}{{ url_for('admin_dashboard') }}{% elif current_user.is_authenticated and current_user.role == 'customer' %}{{ url_for('customer_dashboard') }}{% else %}{{ url_for('home') }}{% endif %}"
    >
      <img
        src="{{ url_for('static', filename='images/nav-bar-logo.png') }}"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Mile &quot;I&quot; Shipping
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin_dashboard' or request.endpoint == 'customer_dashboard' %}active{% endif %}"
            href="{% if current_user.role == 'admin' %}{{ url_for('admin_dashboard') }}{% else %}{{ url_for('customer_dashboard') }}{% endif %}"
          >
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'shipping_rates' %}active{% endif %}"
            href="{{ url_for('shipping_rates') }}"
          >
            Rates
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'profile' %}active{% endif %}"
            href="{{ url_for('profile') }}"
          >
            Profile
          </a>
        </li>
        {% if current_user.role == 'admin' %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin_authorize_pickup' %}active{% endif %}"
            href="{{ url_for('admin_authorize_pickup') }}"
          >
            Authorize Pick-Up List
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'admin_prealerts' %}active{% endif %}"
            href="{{ url_for('admin_prealerts') }}"
          >
            Prealerts
          </a>
        </li>
        {% elif current_user.role == 'customer' %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'authorize_pickup' %}active{% endif %}"
            href="{{ url_for('authorize_pickup') }}"
          >
            Authorize Pick-Up
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'prealerts' %}active{% endif %}"
            href="{{ url_for('prealerts') }}"
          >
            Prealerts
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'login' %}active{% endif %}"
            href="{{ url_for('login') }}"
          >
            Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
