{% extends "base.html" %} {% block main %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Shipping Rates</h3>
          <hr />
          <img
            src="{{ url_for('static', filename='images/shipping_rates.jpg') }}"
            class="img-fluid mx-auto d-block"
            alt="Shipping Rates: 
            1 lb - USD 4.83, JMD 750;
            2 lbs - USD 6.76, JMD 1,100;
            3 lbs - USD 9.33, JMD 1,540;
            4 lbs - USD 12.37, JMD 2,050;
            5 lbs - USD 14.30, JMD 2,400;
            6 lbs - USD 16.80, JMD 2,800;
            7 lbs - USD 20.00, JMD 3,300;
            8 lbs - USD 23.83, JMD 3,950;
            9 lbs - USD 26.97, JMD 4,450;
            10 lbs - USD 30.00, JMD 4,950."
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="imageModal"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Shipping Rates</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          src="{{ url_for('static', filename='images/shipping_rates.jpg') }}"
          class="img-fluid mx-auto d-block"
          alt="Shipping Rates: 
          1 lb - USD 4.83, JMD 750;
          2 lbs - USD 6.76, JMD 1,100;
          3 lbs - USD 9.33, JMD 1,540;
          4 lbs - USD 12.37, JMD 2,050;
          5 lbs - USD 14.30, JMD 2,400;
          6 lbs - USD 16.80, JMD 2,800;
          7 lbs - USD 20.00, JMD 3,300;
          8 lbs - USD 23.83, JMD 3,950;
          9 lbs - USD 26.97, JMD 4,450;
          10 lbs - USD 30.00, JMD 4,950."
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
